<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/notice.css" />
    <link rel="stylesheet" href="css/notice_add.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>お知らせを追加</title>
  </head>
  <header>
    
  </header>
  <body>
    <div class="form_container" id="notice_add">
    <div class="form_title">
      <div>
        <button><a href="notice.html" style="text-decoration: none; color: black;">一覧に戻る</a></button>
      </div>
    </div>
      <input v-model="message" style="text-align: center;">
      <p style="text-align: center;" >{{ message }}</p>
      <div class="table">
        <table>
          <tbody>
            <tr>
              <th class="align-text-middle">タイトル</th>
              <td><textarea v-model="newItem.title">{{ newItem.title }}</textarea></td>
            </tr>
            <tr>
              <th>内容</th>
              <td><textarea cols="30" rows="10" v-model="newItem.comment">{{ newItem.comment }}</textarea></td>
            </tr>
            <tr>
              <th>掲載日</th>
              <td><input type="date" v-model:valu="newItem.day"></td>
            </tr>
            <tr>
              <th>対象</th>
              <td>
								<div style="padding-left:5px ; margin-bottom: 10px; line-height: 3; border-bottom:0.5px solid rgb(109, 109, 109);">
									<input type="checkbox" name="add-notice-all" v-model="newItem.checkAll" @change="checkAll">
									<label for="add-notice-all">全ての対象を選択</label>
								</div>
								<div class="to" style="white-space: nowrap;">
									<input type="checkbox" v-model="newItem.target[0].check" @change="checkChild" >
									<label for="add-notice-wanted1">訪問看護</label>
									<input type="checkbox" v-model="newItem.target[1].check" @change="checkChild">
									<label for="add-notice-wanted2">訪問介護</label>
									<input type="checkbox" v-model="newItem.target[2].check" @change="checkChild">
									<label for="add-notice-wanted3">訪問リハビリ</label>
								</div>
                <div class="to" style="white-space: nowrap;">
                  <input type="checkbox" v-model="newItem.target[3].check" @change="checkChild">
									<label for="add-notice-wanted3">通所介護</label>
									<input type="checkbox" v-model="newItem.target[4].check" @change="checkChild">
									<label for="add-notice-wanted3">入所介護</label>
									<input type="checkbox" v-model="newItem.target[5].check" @change="checkChild">
									<label for="add-notice-wanted3">入所リハビリ</label>
                </div>
							</td>
            </tr>
            <tr>
              <th>Select</th>
              <td>
                <select name="" id="">
                  <option value="">Please select one</option>
                  <option>select A</option>
                  <option>select B</option>
                  <option>select C</option>
                  <option>select D</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form_title">
        <div style="margin: 20px 0;">
          <button><a href="notice.html" style="text-decoration: none; color: black;">キャンセル</a></button>
        </div>
        <button><a href="notice.html" style="color: black; text-decoration: none;" @click="addItem()">お知らせを保存</a></button>
      </div>
    </div>
    <footer>
      <div></div>
    </footer>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/notice_add.js"></script>
  </body>
</html>
